@yellow: #F9E79F;
@bluenav: #AED6F1;
@bluejum: #D6EAF8;
.margenes(@top: 0px, @bottom: 0px){
	margin-top: @top;
	margin-bottom: @bottom;

}

.padd(@r0: 0px, @r1: 0px, @r2: 0px, @r3: 0px){
	padding: @r0 @r1 @r2 @r3;



}


.jumbotron{
	background-color: @bluejum;
	color: black; 
	.margenes(50px, 20px);

} 

.footer {
	.padd(10px, 10px, 0px, 10px);
	background-color: @bluejum;
	.margenes(10px, 0px);

}

.card-pag {
	flex: 1 200px;
	.margenes(10px, 0px);
}

.btn-view {

width: 100%;
border-radius: 3px;
.padd(10px, 0px, 10px, 0px);
margin: 5px;
box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.15);
 
}




.footer-address-icon{

padding-right: 10px


}



.framefx{
    flex: 1 250px;
    .padd(10px, 0px, 0px, 0px);
    margin: 5px;
    background-color: @yellow;
    border-radius: 3px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.15);
    text-align: center; }


.colnav{
	background-color: @bluenav;
	border-radius: 3px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.15);
}

.tab-content{
	padding-top: 10px;
}

.tex{

.padd(30px, 0px, 0px, 0px);


}


