.jumbotron {
  background-color: #D6EAF8;
  color: black;
  margin-top: 50px;
  margin-bottom: 20px; }

.footer {
  padding: 10px 10px 0px 10px;
  background-color: #D6EAF8;
  margin-top: 10px;
  margin-bottom: 0px; }

.card-pag {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-view {
  width: 100%;
  border-radius: 3px;
  padding: 10px 0px 10px 0px;
  margin: 5px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.15); }

.footer-address-icon {
  padding-right: 10px; }

.framefx {
  flex: 1 250px;
  padding: 10px 0px 0px 0px;
  margin: 5px;
  background-color: #F9E79F;
  border-radius: 3px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.15);
  text-align: center; }

.colnav {
  background-color: #AED6F1;
  border-radius: 3px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.15); }

.tab-content {
  padding-top: 10px; }

.tex {
  padding: 30px 0px 0px 0px; }
