$yellow: #F9E79F;
$bluenav: #AED6F1;
$bluejum: #D6EAF8;
@mixin margenes($top, $bottom){
	margin-top: $top;
	margin-bottom: $bottom;

}

@mixin padd($r0, $r1, $r2, $r3){
	padding: $r0 $r1 $r2 $r3;



}


.jumbotron{
	background-color: $bluejum;
	color: black; 
	@include margenes(50px, 20px);

} 

.footer {
	@include padd(10px, 10px, 0px, 10px);
	background-color: $bluejum;
	@include margenes(10px, 0px);

}

.card-pag {
	flex: 1 200px;
	@include margenes(10px, 0px);
}

.btn-view {

width: 100%;
border-radius: 3px;
@include padd(10px, 0px, 10px, 0px);
margin: 5px;
box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.15);
 
}




.footer-address-icon{

padding-right: 10px


}



.framefx{
    flex: 1 250px;
    @include padd(10px, 0px, 0px, 0px);
    margin: 5px;
    background-color: $yellow;
    border-radius: 3px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.15);
    text-align: center; }


.colnav{
	background-color: $bluenav;
	border-radius: 3px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.15);
}

.tab-content{
	padding-top: 10px;
}

.tex{

@include padd(30px, 0px, 0px, 0px);


}


